<!DOCTYPE html>
<html>
    <head>
		<!-- Main Meta Tags -->
        <meta charset="utf-8">
        <title>Pranav Vishnu Ramabhadran - PVRNAV</title>
        <meta name="description" content="Pranav studied Computer Science and Marketing at the University of Pennsylvania's Jerome Fisher Program in Management and Technology. While at Penn, he worked at Apple, invested in student founders while on Dorm Room Fund, and hosted the world's largest hackathon (it was in an NBA stadium). He is headed to Dropbox as a Product Manager after graduation.">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="robots" content="nofollow">

		<!-- Open Graph -->
		<meta property="og:title" content="Pranav Vishnu Ramabhadran - PVRNAV">
        <meta property="og:image" content="http://pvrnav.com/assets/img/profile.jpg">
		<meta property="og:url" content="http://www.pvrnav.com">
		<meta name="og:description" content="Pranav studied Computer Science and Marketing at the University of Pennsylvania's Jerome Fisher Program in Management and Technology. While at Penn, he worked at Apple, invested in student founders while on Dorm Room Fund, and hosted the world's largest hackathon (it was in an NBA stadium). He is headed to Dropbox as a Product Manager after graduation.">
		<meta property="og:type" content="profile">
		<meta property="og:profile:first_name" content="Pranav">
		<meta property="og:profile:last_name" content="Vishnu">
		<meta property="og:profile:username" content="pvrnav">
		<meta property="og:profile:gender" content="male">

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@pvrnav" />

		<!-- Rich Snippet Markup -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"name": "Pranav Vishnu Ramabhadran",
				"url": "http://www.pvrnav.com",
				"alumniOf": "University of Pennsylvania",
				"memberOf": [
					"Dorm Room Fund",
					"PennApps",
					"Sphinx Senior Society",
					"Oracle Senior Honor Society",
					"Bell Senior Society",
					"tGELF"
				],
				"gender": "male",
				"image": "http://pvrnav.com/assets/img/profile.jpg",
				"sameAs": [
					"https://www.crunchbase.com/person/pranav-vishnu",
					"https://github.com/pvrnav",
					"https://twitter.com/pvrnav",
					"https://medium.com/@pvrnav",
					"https://plus.google.com/+PranavVishnu",
					"https://about.me/pvrnav",
					"https://www.quora.com/profile/Pranav-Vishnu",
					"https://www.instagram.com/pvrnav/",
					"https://www.linkedin.com/in/pranavvishnu",
					"https://www.producthunt.com/@pvrnav"
				]
			}
		</script>

		<!-- Misc Links -->
		<link rel="canonical" href="http://www.pvrnav.com/">
        <link rel="shortcut icon" href="assets/img/favicon.png" />
        <link rel="icon" href="assets/img/favicon.png" /> 
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' type='text/css'>
        <link rel="stylesheet" href="assets/css/globalv1.css">
        <link rel="stylesheet" href="assets/css/typography.css">
    </head>

    <body>
	    <div class="navbar">
          <div class="nav-items">
            <a class="name-navbar"><b>PVR</b>NAV</a>
            <div class="social-media-menu">
				<a href="http://facebook.com/pvrnav" rel="me"><i class="fa fa-facebook-square fa-fw"></i></a>
				<a href="http://twitter.com/pvrnav" rel="me"><i class="fa fa-twitter fa-fw"></i></a>
				<a href="http://linkedin.com/in/pranavvishnu" rel="me"><i class="fa fa-linkedin fa-fw"></i></a>
				<a href="http://github.com/pvrnav" rel="me"><i class="fa fa-github fa-fw"></i></a>
			</div>
			<div class="nav-links">
				<a href="http://pennapps.com" target="_blank">PennApps</a>
				<a href="http://dormroomfund.com/portfolio" target="_blank">Dorm Room Fund</a>
			</div>
          </div>
      	</div>
		<div class="container">
		<div class="home" id="home-content">
			<div class="content right">
				<h1>Pranav Vishnu Ramabhadran</h1>
				<p>Pranav studied Computer Science and Marketing at the University of Pennsylvania's Jerome Fisher Program in Management and Technology. While at Penn, he worked at Apple, invested in student founders while on Dorm Room Fund, and hosted the world's largest hackathon (it was in an NBA stadium). He is headed to Dropbox as a Product Manager after graduation.
				</p>
				<div class="footer">
					<p>Last updated March 20th, 2017.</p>
				</div>
			</div>
			<div class="content left">
				<h2>Higlighted Links</h2>
				{{#Highlights}}
					<div class="preview">
						<a href="{{url}}" target="_blank">
							{{#site}}
								{{#image}}<span class="site">{{site}}</span>{{/image}}
								{{^image}}<span class="site rel">{{site}}</span>{{/image}}
							{{/site}}
							{{#image}}<img class="hero" src="{{image.url}}" />{{/image}}
							<h3>{{title}}</h3>
							{{#description}}<span class="desc">{{description}}</span>{{/description}}
						</a>
					</div>
				{{/Highlights}}
				<h2>Work</h2>
				{{#Work}}
					<div class="preview">
						<a href="{{url}}" target="_blank">
							{{#site}}
								{{#image}}<span class="site">{{site}}</span>{{/image}}
								{{^image}}<span class="site rel">{{site}}</span>{{/image}}
							{{/site}}
							{{#image}}<img class="hero" src="{{image.url}}" />{{/image}}
							<h3>{{title}}</h3>
							{{#description}}<span class="desc">{{description}}</span>{{/description}}
						</a>
					</div>
				{{/Work}}
				<h2>PennApps</h2>
				{{#PennApps}}
					<div class="preview">
						<a href="{{url}}" target="_blank">
							{{#site}}
								{{#image}}<span class="site">{{site}}</span>{{/image}}
								{{^image}}<span class="site rel">{{site}}</span>{{/image}}
							{{/site}}
							{{#image}}<img class="hero" src="{{image.url}}" />{{/image}}
							<h3>{{title}}</h3>
							{{#description}}<span class="desc">{{description}}</span>{{/description}}
						</a>
					</div>
				{{/PennApps}}
				<h2>Dorm Room Fund</h2>
				{{#DRF}}
					<div class="preview">
						<a href="{{url}}" target="_blank">
							{{#site}}
								{{#image}}<span class="site">{{site}}</span>{{/image}}
								{{^image}}<span class="site rel">{{site}}</span>{{/image}}
							{{/site}}
							{{#image}}<img class="hero" src="{{image.url}}" />{{/image}}
							<h3>{{title}}</h3>
							{{#description}}<span class="desc">{{description}}</span>{{/description}}
						</a>
					</div>
				{{/DRF}}
			</div>
		</div>
		</div>
			
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="assets/js/mobile.js"></script>
		<script src="assets/js/FlowType.js"></script>
		<script type="text/javascript">
			$('body').flowtype({
				minimum   : 500,
				maximum   : 1000,
				minFont   : 16,
				maxFont   : 65,
				fontRatio : 40
			});
		</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-94079815-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>