.organizer {
  font-weight: 500;
  color: #333333;
  display: inline-block;
  padding: 10px;
  margin: 2px;
  border-radius: 5%;
  min-width: 150px;
  max-width: 15%;
  font-size: 0.7em;
  vertical-align: top;
}

.organizer a {
  text-decoration: none;
  color: #333333;
  font-size: 2em;
  padding: 5px;
}

.organizer img {
  border-radius: 50%;
  width: 80%;
  display: inline-block;
  filter: grayscale(100%);
  box-shadow: 0px 0px 10px #ababab;
}

.organizer span {
  display: inline-block;
  font-size: 1.5em;
}

.organizer .desc {
  font-weight: 700;
}
